<div id="pager">
    <%if (page.totalRecord > 1){%>
        <%if (page.number>0){%>
            <a href="/user=<%= page.number %>" id="prev">Prev</a>
        <%}%>
        <%if (page.number < page.count - 1){%>
            <%if(page.number){%>
            &nbsp;&nbsp;
            <%}%>
            <a href="/?page=<%= page.number + 2%>" id="next">Next</a>
        <%}%>
    <%}%>
</div>